<div class="col-xs-7 col-xs-offset-1 aside">
      <div class="board">
            <a target="_blank" href="/recommendations/notes?category_id=56">
                  <img src="/assets/web/banner-s-1-b8ff9ec59f72ea88ecc8c42956f41f78.png" alt="Banner s 1">
            </a>
            <a target="_blank" href="/recommendations/notes?category_id=60">
                  <img src="/assets/web/banner-s-2-0ca33954547a07153f9cccd5eddbad42.png" alt="Banner s 2">
            </a>
            <a target="_blank" href="/trending/weekly">
                  <img src="/assets/web/banner-s-3-7123fd94750759acf7eca05b871e9d17.png" alt="Banner s 3">
            </a>
            <a target="_blank" href="/trending/monthly">
                  <img src="/assets/web/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png" alt="Banner s 4">
            </a>
      </div>
      <!-- <div class="download">
            <a href="/apps">
                  <img id="js-download-img" src="/assets/web/app_download-e9146ff3a117129153d283495b51f40e.png" alt="App download">
            </a>
            <div class="link-btn" id="js-link-btn" style="display: block;">
                  <a class="col-xs-8 scan" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="<img src=&quot;/assets/web/download-app-qrcode-0257cd2c1d094cba9caa7bdc9e5a1393.png&quot; alt=&quot;Download app qrcode&quot; />" href="javascript:void(0)" data-original-title="" title="">
                        <div><i class="iconfont ic-qrcode"></i>
                              <span>扫码</span>
                        </div>
                  </a>
                  <a class="col-xs-8 android" href="https://downloads.jianshu.io/apps/haruki/JianShu-2.1.0.apk">
                        <div><i class="iconfont ic-android"></i>
                              <span>安卓</span>
                        </div>
                  </a>
                  <a class="col-xs-8 ios" href="https://itunes.apple.com/cn/app/jian-shu-hei-ye-ban-quan-xin/id1142989247?l=en&amp;mt=8">
                        <div><i class="iconfont ic-ios"></i>
                              <span>iOS</span>
                        </div>
                  </a>
            </div>
      </div> -->
      <div class="recommend" style="display: none;">
            <div class="title">
                  <span>推荐作者</span>
                  <div class="reload">
                        <div class="page-count">0/0</div>
                        <div class="page-change"><a><i class="iconfont ic-previous-s"></i></a> <a><i class="iconfont ic-next-s"></i></a></div>
                  </div>
            </div>
            <ul class="list"></ul> <a href="/recommendations/users" target="_blank" class="find-more">
查看全部<i class="iconfont ic-link"></i></a></div>
</div>
