<footer class="container">
    <div class="row">
        <div class="col-xs-17 main">

            <a href="#">关于拇指搜</a>
            <em> · </em><a href="#">联系我们</a>
            <em> · </em><a href="#">作者成书计划</a>
            <em> · </em><a href="#">帮助中心</a>
            <em> · </em><a href="#">合作伙伴</a>
            <div class="icp">
                ©2012-2017 拇指搜 / 沪ICP备11018329号-5
                <a target="_blank" href="#">沪公网安备31010602000064号</a>
                <a target="_blank" href="#">
                    <img src="/assets/web/smrz-14723344f0991457bfc9f5172c219a5f.png" alt="Smrz">
                </a>
            </div>
        </div>
    </div>
</footer>
