<footer class="container">
    <div class="row">
        <div class="col-xs-17 main">

            <a href="/protocol_sign">关于拇指搜</a>
            <em> · </em><a href="/protocol_sign">联系我们</a>
            <em> · </em><a href="/protocol_sign">作者成书计划</a>
            <em> · </em><a href="/protocol_sign">帮助中心</a>
            <em> · </em><a href="/protocol_sign">合作伙伴</a>
            <div class="icp">
                ©2012-2017 拇指搜 / 沪ICP备16046559号-2
                <a target="_blank" href="/protocol_sign">沪公网安备31010602000064号</a>
                <a target="_blank" href="/protocol_sign">
                    <img src="/assets/web/smrz-14723344f0991457bfc9f5172c219a5f.png" alt="Smrz">
                </a>
            </div>
        </div>
    </div>
</footer>
