<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
      <meta http-equiv="Cache-Control" content="no-siteapp" />
      <meta name="description" content="拇指搜，是一个优质资源分享社区，你可以分享百度网盘或百度云的正版电影，文档，视频，音乐等资源，支持单人、多人，公司，企业，社会团体多种主体协同创作，众人拾柴火焰高，欢迎您的加入。">
      <title>
            <%= title %>
      </title>
      <link rel="stylesheet" media="all" href="/muzhiso/web.css" />
      <link rel="stylesheet" media="all" href="/muzhiso/entry.css" />
      <link href="/sweet-alert/sweetalert.css" rel="stylesheet">
      <!-- <link rel="stylesheet" media="all" href="/vendor/bootstrap/css/bootstrap.min.css" /> -->
      <link href="/css/style.css" rel="stylesheet">
