<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
      <meta http-equiv="Cache-Control" content="no-siteapp" />
      <meta property="wb:webmaster" content="294ec9de89e7fadb" />
      <meta property="qc:admins" content="104102651453316562112116375" />
      <meta property="qc:admins" content="11635613706305617" />
      <meta property="qc:admins" content="1163561616621163056375" />
      <meta name="google-site-verification" content="cV4-qkUJZR6gmFeajx_UyPe47GW9vY6cnCrYtCHYNh4" />
      <meta name="google-site-verification" content="HF7lfF8YEGs1qtCE-kPml8Z469e2RHhGajy6JPVy5XI" />

      <title>
            <%= title %>
      </title>
      <link rel="stylesheet" media="all" href="/muzhiso/web.css" />
      <link rel="stylesheet" media="all" href="/muzhiso/entry.css" />
      <link href="/sweet-alert/sweetalert.css" rel="stylesheet">
      <!-- <link rel="stylesheet" media="all" href="/vendor/bootstrap/css/bootstrap.min.css" /> -->
      <link href="/css/style.css" rel="stylesheet">
