<% include _head.ejs %>
  <% include _header.ejs %>
    <% include _nav.ejs %>


      <style>
        .post {
          margin: 0 auto;
          width: 90%;
          max-width: 600px;
        }

        .post .title {
          text-align: center;
          margin: 30px;
        }

        .post .article .author {
          margin: 30px 0 40px;
        }

        .post .article .author .avatar {
          width: 48px;
          height: 48px;
          vertical-align: middle;
          display: inline-block;
        }

        .avatar img {
          width: 100%;
          height: 100%;
          border: 1px solid #ddd;
          border-radius: 50%;
        }

        .post .article .author .info {
          vertical-align: middle;
          display: inline-block;
          margin-left: 8px;
        }

        .post .article .author .tag {
          padding: 1px 2px;
          font-size: 12px;
          color: #ea6f5a;
          border: 1px solid #ea6f5a;
          border-radius: 3px;
        }

        .post .article .author .name {
          margin-left: 3px;
          margin-right: 3px;
          font-size: 16px;
          vertical-align: middle;
        }

        .post .article .follow {
          padding: 0 7px 0 5px;
          font-size: 12px;
        }

        .post .article .author .meta {
          margin-top: 5px;
          font-size: 12px;
          color: #969696;
        }

        .post .article .author .meta span {
          padding-right: 5px;
        }

        .post .article .author .edit {
          float: right;
          margin-top: 8px;
          padding: 0 12px;
          font-size: 14px;
          border: 1px solid #dcdcdc;
          color: #9b9b9b;
          line-height: 30px;
          border-radius: 50px;
        }

        .post .article .show-content {
          color: #2f2f2f;
          word-break: normal;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.7;
        }

        .post .article .show-foot {
          margin: 40px 0 30px;
        }

        .post .article .show-foot .notebook {
          font-size: 12px;
          color: #9b9b9b;
        }

        .post .article .show-foot .notebook i {
          margin-right: 2px;
          font-size: 15px;
        }

        .post .article .show-foot .copyright {
          float: right;
          margin-top: 5px;
          font-size: 12px;
          line-height: 1.7;
          color: #9b9b9b;
        }
      </style>

      <body>
        <div class="container index">
          <div class="post">
            <div class="article">
              <div class="show-content">
                <h1 class="title">欢迎您加入拇指搜</h1>

                <p><b></b></p>


                <p><b><span>用户创作收益协议</span></b><b></b></p>
                <p>&nbsp;</p>
                <p>“拇指搜”（muzhi.so）系尤纯网络科技上海有限公司（“甲方”）经营、管理的优质资源分享平台；乙方是拇指搜的所有用户，仅包括分享作品权利人。为激励对拇指搜做出了突出贡献的忠实用户（作者），促使他们创作更多优秀的作品，让优秀的作品更好的丰富我国人民的精神生活，双方友好协商，达成如下协议。</p>
                <p>&nbsp;</p>
                <p><b>免责条款：</b>作为作品的权利人，一旦您注册成为本站用户，即放弃对本站主张除本协议约定之外的一切权利，并自动放弃对其他用户分享资源享有的相关权利，您有权按照本协议收益计算办法主张权利。收益计算公式：总收益（元）＝所有作品详情页访客数／1000*5＋用户行为创造的价值。举例，如果您分享的资源详情页一天内累计访客30万人，则您的总收益为：1500元＋30万访客用户行为创造的价值（比如：给您打赏）。如果您不希望相关作品出现在本平台，请务必将相关权利证明发送至admin#yoshion.com(＃换成@)，我们会依法予以处理。</p>
                <p>&nbsp;</p>
                <p>1、定义与解释</p>
                <p>&nbsp;</p>
                <p>1.1、定义</p>
                <p>&nbsp;</p>
                <p>除本协议中另有约定，下列词语具有以下特定涵义：</p>
                <p>1.1.1、作品：是指乙方依照其自由意志，于甲方拇指搜（muzhi.so）平台上发布的数字信息。遵照法律对作品版权的相关规定，乙方对该作品必须享有网络信息传播权否则请停止侵权行为，甲方亦有权将作品收益转至权利人帐号。</p>
                <p>1.1.2、作者：是指由乙方自行创作的符合1.1.1定义的信息的权利人，如果该信息因为被举报、投诉等原因被认定违反我国法律法规规定，则作者对此负有相应责任。</p>
                <p>1.1.3、甲方网站上发布说明：指甲方在拇指搜平台发布的涉及规范用户行为或保障用户权利的所有内容。甲方对相关内容进行过更改的，以甲方更改后最新发布的内容为准。</p>
                <p>1.1.4、用户：是指对自己分享资源享有信息网络传播权的权利人，为保护作品权利人相关权能，形成良好的社区氛围，本站所有用户都有义务确保自己为作品权利人。否则，请勿注册成为本平台用户。</p>
                <p>&nbsp;</p>
                <p>1.2、解释</p>
                <p>&nbsp;</p>
                <p>本协议所涉及期间中的“日”，均为工作日，指除周六、周日及中国大陆地区法定节假日外的日期。</p>
                <p>&nbsp;</p>
                <p>2、权利授权</p>
                <p>&nbsp;</p>
                <p>2.1、乙方将发布的作品在全球范围内的著作权财产权利【包括但不限于《中华人民共和国著作权法》规定的各项著作财产权】授权给甲方独占性使用（包括但不限于通过在网站进行发表和或连载发布、有线或者无线方式，以电脑、光盘、手机、电子阅读器、PDA等作为载体而以任何电子信息方式而存在的形式）。</p>
                <p>2.2、本协议签订之后，未经甲方书面同意，乙方不得行使本协议中约定已授权甲方的权利，也不得转让或授权许可第三方使用已独占性许可甲方使用的相关权利，否则乙方同意退还甲方所有由甲方支付于其的相关费用并承担相应的违约责任。同时甲方有权将本协议约定的全部或部分的权利和（或）义务转移、授权给第三方，且无须另行通知乙方（除中国法律强制性规定须向乙方通知的情况之外）或向乙方支付任何相关费用。</p>
                <p>2.3、本协议有效期内，作品如获得出版或其他后续的版权改编，甲方保有在图书、影像制品、宣传资料等上标注甲方logo及商标的权利。对于乙方已经发表在甲方网站上的作品，乙方无权要求甲方删除。</p>
                <p>&nbsp;</p>
                <p>3、双方的权利和义务</p>
                <p>&nbsp;</p>
                <p>3.1、甲方的权利和义务</p>
                <p>&nbsp;</p>
                <p>3.1.1、甲方应当按照本协议的约定，在作品发表日起一年内（逾期除甲方主动解除协议外，时间自动延期），对乙方该作品按日计算收入（具体见第4条）并计入乙方账户，乙方经过真实身份认证并提供真实准确的账户信息后可以对收入进行按月提取，单次提取金额必须高于100元。甲方不从乙方发布的作品中获取直接经济利益。</p>
                <p>3.1.2、甲方可根据作品的内容及平台的具体运营活动，对符合要求的作品给予相应的网站推荐。为宣传乙方的作品，甲方可以将作品在报纸、杂志、互联网络等媒体上进行部分内容的非盈利性刊载，不需另外支付乙方稿酬或其它费用。为宣传乙方及乙方作品需要，甲方可使用乙方姓名（包括真实姓名和笔名）、肖像及含有乙方肖像的照片、图片（包括对照片、图片进行修饰和处理）、动画、形象及声音等，此视为甲方获得乙方许可、并不须向乙方支付任何费用。</p>
                <p>3.1.3、为推广乙方作品知名度的目的，甲方有权自行或与第三方合作行使本协议项下甲方的权利，或将本协议项下甲方的权利全部或部分转让给第三方。对于任何第三人（包括各种媒体及国际互联网站）未经甲方书面许可使用作品及其部分的行为，甲方有权以其自己的名义，通过甲方认为合适的途径，向涉嫌侵权人主张权利，包括但不限于以甲方自身名义提出交涉、投诉、举报以及向人民法院提起诉讼等。</p>
                <p>3.1.4、甲方为保证甲方网站内容的合法性，乙方同意并确认甲方可在接到投诉、举报情况下，对其发布的作品停止于甲方网站的发布，同时甲方有权中止或解除、终止本协议。</p>
                <p>3.1.5、若甲方网站因各种原因暂停或临时中断对外访问、使用或出现其他临时性、阶段性的访问、使用等方面问题的，不视为甲方违约，甲方将尽力解决上述问题；同时甲、乙双方同意并确认上述情况不影响乙方按照本协议的约定履行相关义务及职责，根据上述情况若甲方认为必要时，甲方有权中止或解除、终止本协议。如因网络及服务器故障等不可抗力原因之外的原因，造成的甲方无法及时发布付作品，甲方应尽力保证作品的继续发布。</p>
                <p>3.1.6、甲方可以根据国家相关政策及法律法规的规定，制定网站各项管理制度，对乙方及其作品在甲方网站的发布及编辑行为进行规范；同时，对于违反国家法律、法规、政策等的作品，甲方有权进行删除。</p>
                <p>3.1.7、本协议解除、撤销或终止后，对于乙方发表在甲方网站上且甲方已经支付收益的作品，甲方可继续保留在甲方网站上。</p>
                <p>&nbsp;</p>
                <p>3.2、乙方的权利和义务</p>
                <p>&nbsp;</p>
                <p>3.2.1、乙方声明并承诺：经其创作并发布于甲方“拇指搜”（muzhi.so）平台上的作品，其均系该作品的原创作者，并对内容享有独立、完整的著作权利。乙方保证其创作的作品是在没有其他人员和组织协助的情况下，由乙方独立创作完成的；乙方保证和承诺上述其创作的作品未抄袭或剽窃第三方的作品，不侵害任何第三方的合法权利（包括但不限于第三方的著作权等任何知识产权、名誉权、姓名权、肖像权等中国法律、法规规定的相关权利），不存在包括知识产权纠纷在内的任何法律纠纷，未违反著作权法及其它有关中国法律的规定，并且该作品不含有下列内容：</p>
                <p>①反对宪法确定的基本原则和内容；</p>
                <p>②危害国家统一、主权和领土完整；</p>
                <p>③危害国家安全、荣誉和利益；</p>
                <p>④煽动民族分裂、侵害少数民族风俗习惯，破坏民族团结；</p>
                <p>⑤泄露国家机密；</p>
                <p>⑥宣扬淫秽、迷信或者渲染暴力，危害社会公德和民族优秀文化传统；</p>
                <p>⑦侮辱或者诽谤他人；</p>
                <p>⑧法律、法规规定禁止的其他内容。</p>
                <p>3.2.2乙方保证其完整拥有本协议第2部分条款中授权予甲方的权利，因该等权利的行使侵犯他人著作权及其它合法权益的，由乙方自行承担全部法律责任并赔偿因此给甲方造成的一切名誉、声誉或经济上的、直接或间接的损失，同时，甲方有权选择解除本协议。</p>
                <p>如有第三人（方）向甲方提出乙方的相关作品涉嫌侵权，要求甲方停止发布并删除乙方侵权作品，甲方有权先行停止发布，并删除乙方侵权作品，应甲方要求，乙方应提供必要的协助。</p>
                <p>3.2.3、乙方需承诺不做出有损于甲方、甲方网站形象及损害甲方网站中其他作品的行为。</p>
                <p>3.2.4、乙方保证其在本协议所涉及的登录名ID、真实姓名、联系方式、银行账号等各项内容均真实有效，如因乙方提供信息有误而产生的任何损失或纠纷，由乙方自行承担法律、经济后果。</p>
                <p>&nbsp;</p>
                <p>4、收入及支付方式</p>
                <p>&nbsp;</p>
                <p>4.1、收入及计算方式</p>
                <p>&nbsp;</p>
                <p>4.1.1、甲方在乙方作品的页面投放广告来进行变现，在该作品正式对外发布后的一年内（另有约定的除外），变现后每日收入计入乙方账户，计算方式为：总收益＝乙方所有作品详情页访客数／1000*5＋用户行为创造的价值（该算法为商业秘密）。如因举报或侵权或作弊等原因，作品被删除，该篇作品产生的全部收入将被从乙方账户中扣除。</p>
                <p>4.1.2、如果乙方发生侵权行为，甲方有权冻结乙方账户，停止支付，并有权终止本协议并进一步追究乙方责任，因乙方行为导致的一切后果和损失由乙方承担。</p>
                <p>&nbsp;</p>
                <p>4.2、支付方式</p>
                <p>&nbsp;</p>
                <p>4.2.1、乙方可以按月申请提取账户中的收入，单次提取的金额必须在100元人民币以上，甲方必须在当月25日（遇公休或法定节假日顺延）前最后一个工作日进行相关作品的复查并明确乙方收入的数额。</p>
                <p>4.2.2、如因在报纸、杂志、互联网等媒体上为宣传乙方的作品，作品进行转载，此种情况下甲方无需另向乙方另行支付稿酬或其他费用。</p>
                <p>&nbsp;</p>
                <p>5、保密义务</p>
                <p>&nbsp;</p>
                <p>5.1、一般义务</p>
                <p>&nbsp;</p>
                <p>5.1.1、甲、乙双方同意，对在合作过程中获得或知悉的对方商业秘密及其它技术和经营信息负有保密义务，非为本协议约定之目的不得使用该商业秘密。除本协议 5.2条“商业秘密之披露”所规定之情况外，因任何一方违反约定使用或披露商业秘密和信息使另一方遭受任何名誉、声誉或经济上的、直接或间接的损失，受损失一方可以要求对方赔偿全部损失，且受损失一方有权中止或解除、终止本协议。</p>
                <p>5.1.2、商业秘密在本协议中是指属于一方和(或)其子公司或关联企业所有，并被该方视为商业秘密的技术、财务、商业或任何其它方面的信息，其具有以下特性：不为公众所知悉；能为权利人带来经济效益；具有实用性；被权利人视为秘密并对其采取了适当保护措施。</p>
                <p>&nbsp;</p>
                <p>5.2、商业秘密之披露</p>
                <p>&nbsp;</p>
                <p>甲、乙任何一方在下列任一情形下披露商业秘密不视为违反本协议：</p>
                <p>①该信息在披露时已为公众所知悉；</p>
                <p>②该信息乃根据另一方事先书面同意而披露；</p>
                <p>③一方在对其有管辖权的法律机构依法定程序的要求下而披露，前提为该一方事先以书面形式将披露的商业秘密的内容和确切形式通知另一方。</p>
                <p>&nbsp;</p>
                <p>6、违约责任</p>
                <p>&nbsp;</p>
                <p>6.1、一般性违约</p>
                <p>&nbsp;</p>
                <p>如甲、乙任何一方违反本协议所约定的义务，违约方在收到守约方要求纠正其违约行为的通知之日，应立即停止其违约行为，如违约方继续违约或不履行其义务，守约方有权提前中止或解除、终止本协议，并要求违约方赔偿一切损失。</p>
                <p>&nbsp;</p>
                <p>6.2、其他违约责任</p>
                <p>&nbsp;</p>
                <p>6.2.1、因本协议已约定乙方不得自行行使本协议中约定已独占性授权予甲方的权利，也不得转让或授权许可第三方使用已独占性许可甲方使用的相关权利，如乙方违反上述相关约定，甲方有权立即中止或解除、终止本协议（乙方或第三方使用上述作品的权利种类及方式包括但不限于《中华人民共和国著作权法》第十条所列的权利种类及方式）。</p>
                <p>6.2.2、甲、乙双方同意并确认因任何原因导致本协议中止、终止或解除的，不影响作品的权属转让、授权相关内容的约定的效力，根据中国法律，上述之约定无法实际履行的除外。</p>
                <p>&nbsp;</p>
                <p>7、不可抗力</p>
                <p>&nbsp;</p>
                <p>7.1、如果发生不可抗力，双方在本协议中的义务在不可抗力影响范围及其持续期间内将中止履行。协议期间可根据中止的期限而作相应延长，但须双方协商达成一致。</p>
                <p>7.2、声称遭受不可抗力的一方应在不可抗力发生后不迟于十五(15)日通知本协议另一方，并随附经有关部门确认的不可抗力书面证明，且应尽可能减少不可抗力所产生之影响。</p>
                <p>7.3、如发生不可抗力，双方应立即协商解决问题的方案。如果不可抗力持续三十(30)日以上，且对本协议之履行产生重大不利影响，则任何一方均可选择中止或解除、终止本协议。</p>
                <p>7.4、不可抗力是指在本协议期限内发生的不可预见（或者虽可预见，但其发生或后果不可避免）、非任何一方所能控制且使任何一方无法完全履行本协议内容的地震、台风、火灾、水灾、战争、罢工、暴动、黑客攻击、电信部门技术管制等任何其它不能避免的客观情况。</p>
                <p>7.5、一方违约后遭遇不可抗力的，违约方不得以不可抗力为由主张免责。</p>
                <p>&nbsp;</p>
                <p>8、争议解决</p>
                <p>&nbsp;</p>
                <p>本协议的订立、效力、解释、履行和争议的解决均适用中华人民共和国法律。对于因本协议的解释及执行而产生之争议，应由甲、乙双方通过友好协商予以解决。协商不成或不愿协商的，则任何一方均有权将有关争议向甲方所在地人民法院提起诉讼。</p>
                <p>&nbsp;</p>
                <p>9、协议有效期</p>
                <p>&nbsp;</p>
                <p>本协议有效期为本协议生效之日起十年。协议期限届满前两个月内，如果双方未以书面形式通知终止协议关系，则协议有效期自动延长两年，依此类推。</p>
                <p>&nbsp;</p>
                <p>10、附则</p>
                <p>&nbsp;</p>
                <p>10.1、弃权</p>
                <p>&nbsp;</p>
                <p>甲、乙任何一方在下列任一情形下披露商业秘密不视为违反本协议：</p>
                <p>&nbsp;</p>
                <p>10.2、修改</p>
                <p>&nbsp;</p>
                <p>本协议惟经双方另行签署之其他正式协议方可修改，且甲、乙双方新签订的协议应确定、明示的就本协议及新签订的协议的效力作出具体约定，否则不视为对本协议的修改。</p>
                <p>&nbsp;</p>
                <p>10.3、通知</p>
                <p>&nbsp;</p>
                <p>双方之间的通知（线上通知或书面通知）必须用中文写成。若通知及函件之送达为传真形式，则应以传真传送记录所显示之确切时间为准，除非发出该传真之时间为该日下午五（5）点之后，或收件一方所在地之时间并非工作日，则收件日期应为收件一方所在地时间之下一个工作日；若为电子邮件形式，则邮件进入收件方指定之电子邮件系统的时间即视为已送达；若为专人送达（包括特快专递）时，按收件甲方签收之日期为准；若以挂号邮件发送时，以自寄发日（以邮局寄发纪录或邮戳为准）起计五个营业日为准。</p>
                <p>&nbsp;</p>
                <p>11、其他</p>
                <p>&nbsp;</p>
                <p>11.1、本协议未尽事宜，甲、乙双方可另行协商并订立新的或补充之协议。</p>
                <p>11.2、本协议全部内容自乙方注册成为用户并已经发布作品时生效。</p>
                <p>11.3、本站所有功能都在完善过程，在此之前暂无能力进行审查，请权利人将权利证明文件发至admin#yoshion.com(#换成@)，我们将依法进行处理。</p>
              </div>
            </div>
          </div>


          <% include _footer.ejs %>
            <% include _foot.ejs %>
