<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>注册 - 拇指搜</title>
    <link rel="stylesheet" media="all" href="/muzhiso/signup/web-ee49a84b291050bb6781.css" />

    <link rel="stylesheet" media="all" href="/muzhiso/signup/entry.css" />
</head>

<body class="no-padding reader-black-font" lang="zh-CN">
<div class="sign">
    <div class="logo"><a href="/"><img src="/images/muzhiso.png" alt="Logo" style="width: 200px" /></a></div>
    <div class="main">


        <h4 class="title">
            <div class="normal-title">
                <a class="" href="/login">登录</a>
                <b>·</b>
                <a id="js-sign-up-btn" class="active" href="/sign">注册</a>
            </div>
        </h4>
        <div class="js-sign-up-container">
            <form class="new_user" id="new_user" accept-charset="UTF-8" method="post">
                <div class="input-prepend restyle no-radius js-normal ">
                    <input placeholder="手机号" type="tel" name="user[mobile_number]" id="user_mobile_number" />
                    <i class="iconfont ic-phonenumber"></i>
                </div>
                <div class="input-prepend restyle">
                    <input placeholder="你的昵称" type="text" value="" name="user[nickname]" id="user_nickname" />
                    <i class="iconfont ic-user"></i>
                </div>
                <div class="input-prepend">
                    <input placeholder="设置密码" type="password" name="user[password]" id="user_password" />
                    <i class="iconfont ic-password"></i>
                </div>
                <input type="button" name="commit" id="sign" value="注册" class="sign-up-button" />
                <p class="sign-up-msg">点击 “注册” 即表示您同意并愿意遵守拇指搜<br> <a href="/protocol_sign">用户协议</a>。</p>
            </form>
            <!-- 更多注册方式 -->
            <!--<div class="more-sign">-->
                <!--<h6>社交帐号直接注册</h6>-->
                <!--<ul>-->
                    <!--<li><a class="weibo" href="/users/auth/weibo"><i class="iconfont ic-weibo"></i></a></li>-->
                    <!--<li><a class="weixin" href="/users/auth/wechat"><i class="iconfont ic-wechat"></i></a></li>-->
                    <!--<li><a class="qq" href="/users/auth/qq_connect"><i class="iconfont ic-qq_connect"></i></a></li>-->
                <!--</ul>-->

            <!--</div>-->
        </div>

    </div>
</div>

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
  $('#sign').click(function () {
    var name = $('#user_nickname').val();
    var phone = $('#user_mobile_number').val();
    var password = $('#user_password').val();
    var regexp = /^1(3|4|5|7|8)[0-9]\d{8}$/;
    if (!name) {
      alert('用户名不能为空');
      return false;
    }
    if (!phone) {
      alert('手机号不能为空');
      return false;
    }
    if (!password) {
      alert('密码不能为空');
      return false;
    }
    if (!regexp.test(phone)) {
      alert('手机号格式错误');
      return false;
    }
    if (password.length < 6) {
      alert('密码长度不小于6位');
      return false;
    }
    var data = {
      name: name,
      phone: phone,
      password: password,
    };
    $.post('/api/sign', data, function (res) {
      if (res.code === 0) {
        window.location = '/';
      } else {
        alert(res.message);
      }
    });
  });
</script>
</body>
</html>
