<% include _head.ejs %>
  <!-- simditor -->
  <link rel="stylesheet" type="text/css" href="/vendor/simditor-2.3.6/styles/simditor.css" />
  <% include _header.ejs %>
    <% include _nav.ejs %>


      <div class="container index">


        <div style="margin: 30px 20px">
          <form class="form">
            <div class="form-group">
              <label for="title">网址<small style="color:#9a9a9a; font-weight: 400;">(网址、磁力链接、电驴链接至少填写一个)</small></label>
              <div class="input-group">
                <input type="text" class="form-control" id="url" placeholder="目前只支百度网盘的网址">
                <span class="input-group-btn">
                                  <button class="btn btn-primary" id="getUrl" type="button" style="''">获取内容</button>
                                </span>
              </div>
            </div>

            <!-- /input-group -->
            <div class="form-group">
              <label for="title">标题</label>
              <input type="text" class="form-control" id="title" placeholder="请输入标题">
            </div>
            <div class="form-group">
              <label for="title">磁力链接</label>
              <input type="text" class="form-control" id="magnet" placeholder="请输入磁力链接">
            </div>
            <div class="form-group">
              <label for="title">电驴链接</label>
              <input type="text" class="form-control" id="emule" placeholder="请输入电驴链接">
            </div>
          </form>

          <textarea id="editor" placeholder="请输入分享内容" autofocus></textarea>

          <div class="save" style="margin: 20px auto;">
            <button type="button" class="btn btn-primary" id="write" style="'' min-width: 150px; float: right">分享</button>
          </div>

        </div>
      </div>

      <% include _footer.ejs %>
        <% include _scripts.ejs %>
          <script type="text/javascript" src="/vendor/simditor-2.3.6/scripts/module.js"></script>
          <script type="text/javascript" src="/vendor/simditor-2.3.6/scripts/hotkeys.js"></script>
          <script type="text/javascript" src="/vendor/simditor-2.3.6/scripts/uploader.js"></script>
          <script type="text/javascript" src="/vendor/simditor-2.3.6/scripts/simditor.js"></script>
          <script type="text/javascript">
            function validateUrl(url) {

            }

            var toolbar = [
              'title',
              'bold',
              'italic',
              'underline',
              'strikethrough',
              'fontScale',
              'color',
              'ol',
              'ul',
              'blockquote',
              'code',
              'table',
              'link',
              'image',
              'hr',
              'indent',
              'outdent',
              'alignment',
            ];
            var editor = new Simditor({
              textarea: $('#editor'),
              toolbar: toolbar,
              defaultImage: '/images/image.png',
              upload: {
                url: '/api/upload',
                params: 'up',
                fileKey: 'pages',
                connectionCount: 3,
                leaveConfirm: '正在上传文件，确定离开该页面?',
              },
              pasteImage: true,
              allowedTags: [
                'br',
                'span',
                'a',
                'img',
                'b',
                'strong',
                'i',
                'strike',
                'u',
                'font',
                'p',
                'ul',
                'ol',
                'li',
                'blockquote',
                'pre',
                'code',
                'h1',
                'h2',
                'h3',
                'h4',
                'hr',
              ],
              allowedAttributes: {
                img: [
                  'src',
                  'alt',
                  'width',
                  'height',
                  'data-non-image',
                ],
                a: [
                  'href', 'target',
                ],
                font: ['color'],
                code: ['class'],
              },
              allowedStyles: {
                span: [
                  'color', 'font-size',
                ],
                b: ['color'],
                i: ['color'],
                strong: ['color'],
                strike: ['color'],
                u: ['color'],
                p: [
                  'margin-left', 'text-align',
                ],
                h1: [
                  'margin-left', 'text-align',
                ],
                h2: [
                  'margin-left', 'text-align',
                ],
                h3: [
                  'margin-left', 'text-align',
                ],
                h4: ['margin-left', 'text-align', ]
              },
              codeLanguages: [{
                name: 'Bash',
                value: 'bash'
              }, {
                name: 'C++',
                value: 'c++'
              }, {
                name: 'C#',
                value: 'cs'
              }, {
                name: 'CSS',
                value: 'css'
              }, {
                name: 'Erlang',
                value: 'erlang'
              }, {
                name: 'Less',
                value: 'less'
              }, {
                name: 'Sass',
                value: 'sass'
              }, {
                name: 'Diff',
                value: 'diff'
              }, {
                name: 'CoffeeScript',
                value: 'coffeescript'
              }, {
                name: 'HTML,XML',
                value: 'html'
              }, {
                name: 'JSON',
                value: 'json'
              }, {
                name: 'Java',
                value: 'java'
              }, {
                name: 'JavaScript',
                value: 'js'
              }, {
                name: 'Markdown',
                value: 'markdown'
              }, {
                name: 'Objective C',
                value: 'oc'
              }, {
                name: 'PHP',
                value: 'php'
              }, {
                name: 'Perl',
                value: 'parl'
              }, {
                name: 'Python',
                value: 'python'
              }, {
                name: 'Ruby',
                value: 'ruby'
              }, {
                name: 'SQL',
                value: 'sql'
              }, ]
            });

            $('#getUrl').click(function() {
              var url = $('#url').val();
              console.log('url: ', url);
              //                var reg = /(.*pan\.baidu\.com.*)|(.*vdisk\.weibo\.com.*)|(.*weiyun\.com.*)/;
              var reg = /(http.*pan\.baidu\.com.*)|(http.*yun\.baidu\.com.*)/;
              if (!reg.test(url)) {
                //                  return swal('目前只支持百度网盘、微云或微盘的网址', '', 'error');
                return swal('目前只支持百度网盘的网址', '', 'error');
              }
              $.post('/api/user/urlContent', {
                url
              }, function(res) {
                if (res.code === 0) {
                  $('#title').val(res.data.title);
                  var text = [
                    url,
                    title,
                  ];
                  $('#content').val(text.join(','));
                } else {
                  swal('获取网址内容失败', '', 'error');
                }
              });
            });


            $('#write').click(function() {
              var title = $('#title').val();
              var url = $('#url').val();
              var emule = $('#emule').val();
              var magnet = $('#magnet').val();
              var content = editor.getValue();
              //                var reg = /(.*pan\.baidu\.com.*)|(.*vdisk\.weibo\.com.*)|(.*weiyun\.com.*)/;
              var reg = /.*pan\.baidu\.com.*/;
              var regMagnet = /^magnet.*/;
              var regEmule = /^ed2k.*/;
              var tempLink = [];
              if (url) {
                tempLink.push(url);
              }
              if (emule) {
                tempLink.push(emule);
              }
              if (magnet) {
                tempLink.push(magnet);
              }
              if (tempLink.length === 0) {
                return swal('网址、磁力链接、电驴链接至少填写一个！', '', 'error');
              }
              if (url && !reg.test(url)) {
                return swal('目前只支持百度网盘的网址', '', 'error');
              }
              if (magnet && !regMagnet.test(magnet)) {
                return swal('磁力链接格式错误', '', 'error');
              }
              if (emule && !regEmule.test(emule)) {
                return swal('电驴链接格式错误', '', 'error');
              }
              if (!title) {
                return swal('网址标题不能为空！', '', 'error');
              }
              if (!content) {
                return swal('内容不能为空！', '', 'error');
              }

              var data = {
                title: title,
                emule: emule,
                magnet: magnet,
                content: content,
                url: url
              };
              console.log('data: ', data);
              $.post('/api/user/insert', data, function(res) {
                console.log('res: ', res);
                if (res.code === 0) {
                  swal({
                    title: '分享成功',
                    text: '',
                    type: 'success',
                    confirmButtonText: '确定',
                  }, function() {
                    // window.location.href = '/users/list';
                    window.location.href = '/mypublish';
                  });
                } else {
                  swal(res.message, '', 'error');
                }
              });
            });
          </script>
          <% include _foot.ejs %>
